@import "./_variables.scss";
@import "bootstrap";
@import "./_overrides.scss";
@import "./_utilities.scss";
@import "./loaders.scss";

body{
  overscroll-behavior: none;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--body-bg);
  
}

body::-webkit-scrollbar{
  display: none;
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}

input,
textarea,
select {
  &:not(:placeholder-shown) {
    &:valid {
      border: 1px solid $success;
    }
    &:invalid {
      border: 1px solid $danger;
    }
  }
}

form:invalid button[type="submit"] {
  filter: grayscale(1);
  pointer-events: none;
}

// FANCY BUTTON MAGIC

.bttn{
  position: relative;
  display: block;
  color: white;
  font-size: 16px;
  font-family: "montserrat";
  text-decoration: none;
  border: 2px solid #4d0ba3;
  width: 40%;
  height: 50px;
  border-radius: 2px;
  background: transparent;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
}

.bttn::before{
  background: #4d0ba3;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  transition: all 0.6s ease;
}

.bttn:active{
  transform: scale(0.9);
}

.bttn3::before{
  width: 100%;
  height: 0%;
  transform: translate(-50%,-50%) rotate(45deg);
}

.bttn3:hover::before{
  height: 550%;
}

// END OF FANCY BUTTON MAGIC

.account-picture{
  object-fit: cover;
  object-position: center;
  height: 30vw;
  width: 30vw;
  border: 3px solid #4d0ba3;
}

.home-header-pic{
  height: 30vh;
  background-image: url("https://www.affordablemallorca.com/uploads/posts/_fullLarger/rock-concert-portocolom.jpg");
  // FIXME figure out slightly blurring that background image
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-size: cover;
  background-position: center;
  border: 2px solid #4d0ba3;
}

.text-shadow{
  text-shadow: 2px 1px 2px black;
}

.all{
  border-top-left-radius: 6px;
}

.sports{
  border-top-right-radius: 6px;
}

.digital{
  border-bottom-left-radius: 6px;
}

.other{
  border-bottom-right-radius: 6px;
}

.pointer{
  cursor: pointer;
}

.border-purple{
  border-color: #4d0ba3 !important;
}

.capitalize-first{
  text-transform: capitalize;
}

.event-card{
  height: 30vh;
  border-radius: 5px;
  display: flex;
  align-items: end;
  border: 3px solid #4d0ba3;
  background-size: cover;
  background-position: center;
}

.bg-blur{
  backdrop-filter: blur(12px);
}

.canceled{
  background-color: #d11956 !important;
  color: rgb(31, 30, 30);
  border-radius: 2px;
}

.event-details-pic{
  height: 40vh;
  background-size: cover;
  background-position: center;
}

.event-details-card{
  background-position: center;
  background-size: cover;
}

.icy{
  height: 100%;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.my-prp-btn{
  background-color: #4d0ba3;
  color: rgb(0, 0, 0);
  border: none;
  transition: 0.5s;
}

.my-prp-btn:hover{
  transform: scale(1.05);
}

.my-prp-btn:active{
  transform: scale(0.95);
}

.text-lighter{
  color: rgb(233, 230, 230);
}

.no-border{
  border: none !important;
}

textarea{
  resize: none;
}

.comment-body{
  min-height: 100%;
  background-color: #4d0ba3;
}

.comment-picture{
  object-fit: cover;
  object-position: center;
  width: 12vh;
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}

.ticket-card{
  height: 25vh;
}

@media screen and (min-width: 992px) {
  .bttn{
    width: 70%;
  }

  .account-picture{
    height: 9vw;
    width: 9vw;
  }

  .vh-lg-70{
    height: 70vh;
  }

  .all{
    border-bottom-left-radius: 6px;
  }

  .sports{
    border-top-right-radius: 0px;
  }

  .digital{
    border-bottom-left-radius: 0px;
  }

  .other{
    border-top-right-radius: 6px;
  }
}