@import "./_variables.scss";
@import "bootstrap";
@import "./_overrides.scss";
@import "./_utilities.scss";
@import "./loaders.scss";

body{
  overscroll-behavior: none;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--body-bg);
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}

input,
textarea,
select {
  &:not(:placeholder-shown) {
    &:valid {
      border: 1px solid $success;
    }
    &:invalid {
      border: 1px solid $danger;
    }
  }
}

form:invalid button[type="submit"] {
  filter: grayscale(1);
  pointer-events: none;
}

@media screen and (min-width: 992px) {
  .vh-lg-100{
    height: 100vh;
  }
}

// FANCY BUTTON MAGIC

.bttn{
  position: relative;
  display: block;
  color: white;
  font-size: 16px;
  font-family: "montserrat";
  text-decoration: none;
  border: 2px solid #7541af;
  width: 6vw;
  height: 5vh;
  border-radius: 2px;
  background: transparent;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
}

.bttn::before{
  background: #7541af;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  transition: all 0.6s ease;
}

.bttn3::before{
  width: 110%;
  height: 0%;
  transform: translate(-50%,-50%) rotate(45deg);
}

.bttn3:hover::before{
  height: 380%;
}

// END OF FANCY BUTTON MAGIC